/* MAIN */
body {
  font-family: "Montserrat", sans-serif;
  background: url(../img/Background.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100% 100%;
}
div.container {
  padding: 0;
}
section .headline {
  font-size: 22px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* <--MAIN--> */

/* HEADER */
header {
  background: url(../img/back-header.jpg);
  height: 608px;
  background-repeat: no-repeat;
  background-position: center center;
}
#logoandmenu {
  background: rgba(0, 0, 0, 0.4);
  height: 60px;
}
#logo {
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo a {
  text-decoration: none;
  color: #fff;
}
#logo a:hover {
  color: rgb(255, 127, 80);
}
#menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.15s ease-out;
}
#menu a:hover {
  color: #22f272;
}
#headerinfo {
  height: 548px;
  display: flex;
  align-items: center;
  color: #fff;
  text-align: center;
}
#headerinfo h1 {
  color: #02d352;
  font-size: 48px;
}
#headerinfo p {
  font-size: 24px;
}
#headerinfo a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #0aaf49;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
}
#headerinfo a:hover {
  text-decoration: underline;
}
/* <--HEADER--> */

/* SECTION#OUR-GOALS */
section#our-goals {
  background: #fff;
  height: 320px;
}
section#our-goals .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#our-goals .description {
  height: 80px;
  display: flex;
  align-items: center;
  text-align: center;
}
section#our-goals .description span {
  display: contents;
  font-weight: bold;
}
/* <--SECTION#OUR-GOALS--> */

/* SECTION#OBJECTIVES */
section#objectives {
  height: 950px;
  background: #fff;
}
section#objectives .blue-back#servers {
  height: 310px;
  /*11 146 224*/
  /*94, 195, 253*/
  background: rgb(241, 245, 245);
}
section#objectives .blue-back {
  height: 210px;
  /*241 245 245*/
  background: rgb(241, 245, 245);
}
section#objectives .white-back {
  height: 210px;
  background: #fff;
}
section#objectives .image-objective {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#objectives .descr-obj {
  height: 210px;
  padding-left: 40px;
  padding-top: 20px;
  display: flex;
}
section#objectives .descr-obj h3 {
  margin: 0;
  font-size: 26px;
}
section#objectives .descr-obj p {
  margin: 0;
  font-size: 22px;
}
section#objectives .descr-obj a {
  margin: 0;
  text-decoration: none;
  color: #fff;
  padding: 7px;
  border-radius: 5px;
  /*background: rgb(93, 129, 247);*/
  background: rgb(0, 0, 0);
}
section#objectives .descr-obj a:hover {
  text-decoration: underline;
}
/* <--SECTION#OBJECTIVES--> */

/* SECTION#ADVANTAGES */
section#advantages {
  background: rgb(241, 245, 245);
  height: 320px;
}
section#advantages .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#advantages .description {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 17px;
}
/* <--SECTION#ADVANTAGES--> */

/* SECTION#GAMEPLAY */
section#gameplay {
  background: #fff;
  height: 400px;
}
section#gameplay .image {
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#gameplay img {
  border: 3px solid #000;
}
section#gameplay .col-8 {
  font-size: 20px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
section#gameplay .col-8 span {
  display: contents;
  font-weight: bold;
}
/* <--SECTION#GAMEPLAY--> */

/* SECTION#ABOUT-US */
section#about-us {
  background: rgb(241, 245, 245);
  height: 500px;
}
section#about-us .image {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#about-us img {
  border: 3px solid #000;
}
section#about-us .name {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 19px;
}
section#about-us .position {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
section#about-us .person-info {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* <--SECTION#ABOUT-US--> */

/* FOOTER */
footer {
  height: 255px;
  color: rgb(138, 132, 132);
}
footer #footermenu {
  height: 150px;
  background: rgb(61, 55, 55);
}
footer #footermenu span {
  font-size: 18px;
}
footer #footermenu #footerlogo {
  display: flex;
  align-items: flex-start;
  padding-top: 10px;
  justify-content: center;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  color: #fff;
}
footer #footermenu #navigation {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  justify-content: flex-start;
}
footer #footermenu #navigation span {
  margin-bottom: 15px;
}
footer #footermenu #navigation a {
  text-decoration: none;
  color: rgb(138, 132, 132);
  transition: color 0.28s ease-out;
}
footer #footermenu #navigation a:hover {
  color: rgb(241, 99, 16);
}
footer #footermenu #navigation span a {
  text-decoration: none;
  color: rgb(199, 194, 194);
  transition: color 0.28s ease-out;
}
footer #footermenu #navigation span a:hover {
  color: #fff;
}
footer #footermenu #join-us {
  padding-top: 8px;
}
footer #footermenu #join-us span a {
  text-decoration: none;
  color: rgb(199, 194, 194);
  transition: color 0.28s ease-out;
}
footer #footermenu #join-us span a:hover {
  color: #fff;
}
footer #footermenu #join-us .social {
  display: inline-block;
}
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.social a {
  width: 48px;
  height: 48px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 0 10px 0 0;
  padding: 11px 8px 3px 8px;
  color: #000;
  transition: color 0.28s ease-out;
  transition: background 0.28s ease-out;
}
.github a:hover {
  background: #191919;
  color: #fff;
}
.vk a:hover {
  background: #5d84ae;
  color: #fff;
}
footer #contactsandcopyright {
  height: 105px;
  background: rgb(22, 21, 21);
}
footer #contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 13px 0;
}
footer #contacts a {
  text-decoration: none;
  color: rgb(138, 132, 132);
}
footer #contacts a:hover {
  text-decoration: underline;
}
footer #copyright {
  display: flex;
  align-items: center;
}
footer #copyright span {
  padding-left: 15px;
}
/* <--FOOTER--> */

/* ADAPTABILITY */
@media (max-width: 575.98px) {
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
  section#our-goals .description {
    padding: 0 10px;
  }
  h2 {
    text-align: center;
  }
  section#objectives .descr-obj p {
    font-size: 18px;
  }
  section#advantages .description {
    height: 100px;
    font-size: 14px;
  }
  section#gameplay .col-8 {
    font-size: 18px;
    padding: 30px;
  }
  section#gameplay img {
    display: block;
    max-width: 100%;
    height: 200px;
  }
  section#gameplay .image {
    padding-left: 20px;
  }
  section#about-us img {
    border: 2px solid #000;
  }
  section#about-us .name {
    font-size: 16px;
  }
  section#about-us .person-info {
    font-size: 14px;
    padding-top: 15px;
  }
  footer #footermenu {
    height: 170px;
  }
  footer #footermenu #navigation a {
    -webkit-hyphens: auto;
    hyphens: auto;
  }
}
/* <--ADAPTABILITY--> */
